<ion-content>
  <div
    style="
      font-weight: bold;
      text-align: center;
      font-size: 30px;
      color: rgb(29, 23, 23);
      padding-top: 10px;
      font-style: italic;
      font-family: 'Times New Roman', Times, serif;
    "
  >
    FeedBack Form
  </div>
  <div
    style="
      font-style: italic;
      text-align: center;
      font-size: 30px;
      font-size: 14px;
      padding-top: 4px;
      color: rgb(20, 17, 17);
    "
  >
    Let's get in touch
  </div>
  <ion-grid>
    <ion-row style="padding-top: 25px">
      <ion-col
        size="6"
        style="margin-left: 0%"
        size-sm="12"
        size-md="9"
        size-lg="7.5"
        size-xl="6"
        size-xs="14"
      >
        <div style="margin-left: 10%">
          <ion-row class="rowMargin">
            <ion-col size="1.3"> <ion-icon name="people"></ion-icon></ion-col>

            <ion-col size="10.2" class="line">
              <ion-input type="text" placeholder="Name"></ion-input
            ></ion-col>
          </ion-row>
          <ion-row class="rowMargin">
            <ion-col size="1.3"> <ion-icon name="home"></ion-icon></ion-col>

            <ion-col size="10.2" class="line">
              <ion-input
                type="text"
                placeholder="National id/Passport No"
                style="height: 39px"
              ></ion-input
            ></ion-col>
          </ion-row>
          <ion-row class="rowMargin">
            <ion-col size="1.3">
              <ion-icon name="people-circle"></ion-icon
            ></ion-col>

            <ion-col size="10.2" class="line">
              <ion-input type="text" placeholder="Customer ID"></ion-input
            ></ion-col>
          </ion-row>
          <ion-row class="rowMargin">
            <ion-col size="1.3"> <ion-icon name="business"></ion-icon></ion-col>

            <ion-col size="10.2" class="line">
              <ion-input type="text" placeholder="Company Name"></ion-input
            ></ion-col>
          </ion-row>
          <ion-row class="rowMargin">
            <ion-col size="1"> <ion-icon name="car-sport"></ion-icon></ion-col>

            <ion-col size="10" class="line">
              <ion-input
                type="text"
                placeholder="Vehicle Registration No"
              ></ion-input
            ></ion-col>
          </ion-row>
          <ion-row class="rowMargin">
            <ion-col size="1"> <ion-icon name="man"></ion-icon></ion-col>

            <ion-col size="10" class="line">
              <ion-input type="text" placeholder="Position"></ion-input
            ></ion-col>
          </ion-row>
          <ion-row class="rowMargin">
            <ion-col size="1"> <ion-icon name="car-sport"></ion-icon></ion-col>

            <ion-col size="10" class="line">
              <ion-input type="text" placeholder="Town"></ion-input
            ></ion-col>
          </ion-row>
          <ion-row class="rowMargin">
            <ion-col size="1"> <ion-icon name="location"></ion-icon></ion-col>

            <ion-col size="10" class="line">
              <ion-input type="text" placeholder="Country"></ion-input>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>

      <ion-col size="6">
        <ion-card style="width: 80%; margin: 0px; border-radius: 7px">
          <ion-card-header
            style="
              background-color: rgb(10, 83, 240);
              height: 46px;
              font-size: 19px;
              font-weight: 100;
              color: white;
            "
          >
            Member ID No.<span style="padding-left: 16%; margin-left: 23%"
              >Primary Contact</span
            >
          </ion-card-header>

          <ion-card-content style="margin: 0px; padding: 0px">
            <ion-row>
              <ion-col size="4" class="cardLabel"
                ><ion-label> Mobile No.1</ion-label></ion-col
              >
              <ion-col size="8">
                <input type="number" placeholder="Mobile No.1" class="input"
              /></ion-col>
              <ion-col size="4" class="cardLabel"
                ><div>Mobile No.2</div></ion-col
              >
              <ion-col size="8">
                <input type="number" placeholder="Mobile No.2" class="input"
              /></ion-col>
              <ion-col size="4" class="cardLabel"
                ><div>Mobile No.3</div></ion-col
              >
              <ion-col size="8">
                <input type="number" placeholder="Mobile No.3" class="input"
              /></ion-col>
              <ion-col size="4" class="cardLabel">
                <ion-label>Mobile No.4</ion-label></ion-col
              >
              <ion-col size="8">
                <input type="number" placeholder="Mobile No.4" class="input"
              /></ion-col>
              <ion-col size="4" class="cardLabel"
                ><div>Mobile No.5</div></ion-col
              >
              <ion-col size="8">
                <input type="number" placeholder="Mobile No.5" class="input"
              /></ion-col>
              <ion-col size="4" class="cardLabel"
                ><div>Whatapp No.1</div></ion-col
              >
              <ion-col size="8">
                <input type="number" placeholder="Whatapp No.1" class="input"
              /></ion-col>
              <ion-col
                size="4"
                style="
                  text-align: center;
                  font-weight: bolder;
                  font-size: 20px;
                  border-right: 3px solid rgb(114, 114, 114);
                  height: 72px;
                "
                ><div>Whatapp No.2</div></ion-col
              >
              <ion-col size="8">
                <input type="number" placeholder="Whatapp No.1" class="input"
              /></ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

        <!-- <ion-row style="margin: 27% 0% 0% 37%;"><ion-button routerLink="['/otp']">NEXT</ion-button></ion-row> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
