<ion-content [fullscreen]="true">
  <div class="feedback-wrapper">
    <div class="heading-container">
      <ion-row>
        <ion-col size="2">
          <ion-img
            src="assets/stage_3/Logo 02.png"
            class="image-container"
          ></ion-img>
        </ion-col>
        <ion-col size="8">
          <h2
            style="
              color: #3880ff;
              font-weight: 600;
              font-size: 20px;
              margin: 5px auto;
              letter-spacing: 3px;
            "
            class="ion-text-center"
          >
            Business Lead
          </h2>
          <p
            style="font-style: italic; font-size: 11px; margin: 0px 5px"
            class="ion-text-center"
          >
            Let's get in touch
          </p>
        </ion-col>
        <ion-col size="2">
          <ion-img
            src="assets/stage_3/group-icon.png"
            class="imagegroup-container"
          ></ion-img>
        </ion-col>
      </ion-row>
    </div>

    <div class="wrapper-container">
      <ion-button
        (click)="exportToExcel()"
        style="
          width: 120px;
          height: 30px;
          float: right;
          --background: white;
          color: rgb(9, 248, 9);
        "
      >
        Excel
        <ion-icon
          name="download"
          style="font-size: 20px; float: right"
        ></ion-icon>
      </ion-button>
      <ion-button
        (click)="createPdf()"
        style="
          width: 120px;
          height: 30px;
          float: right;
          --background: white;
          color: rgb(248, 11, 11);
        "
      >
        PDF
        <ion-icon
          name="download"
          style="font-size: 20px; float: right"
        ></ion-icon>
      </ion-button>
      <jqxGrid
        *ngIf="myPlatform == 'desktop'"
        [width]="'100%'"
        [autoheight]="true"
        [source]="employeeAdapter"
        [columns]="columns"
        [sortable]="true"
        [filterable]="true"
        [altrows]="true"
        [ready]="ready"
        (onSort)="myGridOnSort($event)"
        #myGrid
        [theme]="'energyblue'"
        style="
          margin: auto;
          font-size: 11px;
          font-weight: 500;
          text-align: center;
        "
      >
      </jqxGrid>
    </div>
  </div>
</ion-content>
