<ion-content [fullscreen]="true">
  <div class="wrapper-container">
    <ion-row>
      <ion-col size="2">
        <ion-img
          src="assets/stage_3/Logo 02.png"
          style="width: 100%; height: 70%; position: absolute"
        ></ion-img>
      </ion-col>
      <ion-col size="8">
        <h1
          style="
            color: #3880ff;
            text-align: center;
            font-family: 'Times New Roman';
          "
          class="header"
        >
          TATA Motors
        </h1>
        <p
          style="
            font-style: italic;
            text-align: center;
            line-height: 0;
            margin-top: 0px;
            color: gray;
          "
          class="subHeader"
        >
          Let's get in touch
        </p>
      </ion-col>
      <ion-col size="2">
        <ion-img
          src="assets/stage_3/group-icon.png"
          style="width: 100%; height: 100%; left: 20px"
        ></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="textBox">
      <ion-col size="12" size-sm="6" size-lg="6" size-md="6">
        <form [formGroup]="admin">
          <ion-list style="background: transparent" lines="none">
            <ion-item class="backBorder">
              <ion-icon name="person" class="iconSize"></ion-icon>
              <ion-input
                type="text"
                placeholder="Full name"
                formControlName="name"
              ></ion-input>
            </ion-item>
            <ion-item class="backBorder">
              <ion-icon name="briefcase" class="iconSize"></ion-icon>
              <ion-input
                type="text"
                placeholder="Designation"
                formControlName="designation"
              ></ion-input>
            </ion-item>
            <ion-item class="backBorder">
              <ion-icon name="mail-open" class="iconSize"></ion-icon>
              <ion-input
                type="text"
                placeholder="Mail-Id"
                formControlName="mail"
              ></ion-input>
            </ion-item>
            <ion-item class="backBorder">
              <ion-icon name="people-circle" class="iconSize"></ion-icon>
              <ion-input
                type="text"
                placeholder="Username"
                formControlName="username"
                [disabled]="value"
              ></ion-input>
            </ion-item>
            <ion-item class="backBorder">
              <ion-icon name="eye-off" class="iconSize"></ion-icon>
              <ion-input
                type="text"
                placeholder="Password"
                formControlName="password"
              ></ion-input>
            </ion-item>
            <ion-item class="backBorder">
              <ion-icon name="call" class="iconSize"></ion-icon>
              <ion-input
                type="text"
                placeholder="Primary Contact"
                formControlName="mobileNo"
              ></ion-input>
            </ion-item>
            <ion-item class="backBorder">
              <ion-icon
                name="phone-portrait-outline"
                class="iconSize"
              ></ion-icon>
              <ion-input
                type="text"
                placeholder="Whatsapp No"
                formControlName="whatappNo"
              ></ion-input>
            </ion-item>
          </ion-list>
          <ion-row>
            <ion-col style="text-align: center"
              ><ion-button [disabled]="!admin.valid" (click)="submit()"
                >SUBMIT</ion-button
              >
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
